/* Section Contact */
#section-contact {
  min-height: 100vh;
  padding: 5vw 10vw;
  text-align: left;
}

#section-contact h2 {
  font-size: 2vw;
  margin: 2vw 0 1vw 0;
  color: var(--title-color);
}

.contact-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3vw;
}

.img-column img{
  border-radius: 2vw;
  height: 50vh;
}

.img-column{
  text-align: center;
  border-radius: 2vw;
}

.info-column{
  padding : 0 5vw;
}


.contact-block p, 
.contact-block ul li {
  font-size: 1.1rem;
  line-height: 1.6;
}

.contact-block a {
  text-decoration: none;
}


.contact-block a:hover {
  color: var(--nav-hover-color);
}

.contact-block ul {
  list-style: none;
  padding-left: 0;
}

.contact-block ul li {
  margin: 0.3em 0;
}