.flexbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
  padding: 2vw;
  margin: 2vw;
  gap: 3vw;
  border-radius: 2vw;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
  border-right: 2px solid rgba(19,137,201,0.486);
  border-left: 2px solid rgba(19,137,201,0.486);
  transition: transform 0.8s ease, box-shadow 0.2s ease;
}

/* Colonne gauche (photo + nom) */
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 1vw;
}

.profile-left{
  border-right: 2px solid rgba(19,137,201,0.486);
}

.profile-right{
  border-left: 2px solid rgba(19,137,201,0.486);
}

.profile-picture img {
  width: 18vw;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 1vw;
}

.profile h3 {
  margin: 0;
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
}

/* Texte à droite */
.profile-text {
  flex: 1;
}

.profile-text h2{
    font-size: xx-large;
}


.profile-text p {
  margin: 0;
  font-size: 1.1vw;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .flexbox-item {
    flex-direction: column;
    text-align: center;
  }

  .profile-picture img {
    width: 30vw;
    margin-bottom: 3vw;
  }

  .profile h3 {
    font-size: 5vw;
  }

  .profile-text p {
    font-size: 4vw;
    margin-top: 2vw;
  }
}

h3{
    font-size: xx-large;
    padding: 1vw 7vw;
}

h5 {
    font-size: large;
}

#section-profil hr{
    width:100%;
}

#section-profil {
  padding: 18vh 2vw;
}

a {
  text-decoration: none;
}